# python virtual environment
.venv

# config files
.vscode
.DS_Store

# python files
**/__pycache__
**/Pipfile
**/.py*
server.py

# text files, except requirements files, should they exist
*.log
*.txt
*.out
!requirements.txt
!requirements*.txt

# experimental things
ignore*

# grab template files
!*template.*

# grab ALL markdown files. These are all readmes, setups, and tutorials
!**/*.md

# pypi files
**/build/*
**/dist/*
build
dist
*.egg-info

# pytest files
.coverage
